# Python
*.py[cod]
*$py.class
__pycache__/
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/

# Django
*.log
db.sqlite3
db.sqlite3-journal
/media
/staticfiles
/static_root

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# Node (para Tailwind)
node_modules/
package-lock.json

# Agentes y configuraciones locales
.agents/
.github/
opencode.json
